body{background-image: url(../img/backs.jpg); 
    background-size: contain;
    background-size: auto;
    background-attachment: fixed;
}



.marvellogo{
	height: 50px;
}

.container1{background-color: #22262a;
	        position: sticky;
	        top: 0px;
	        

}

.trailers{
	background-color: #22262a;
}

